<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" >
    <title>Document</title>
</head>
<body>
    <%- include('layout/header') -%>
    <div class="container">
        <%- include('layout/nav'); -%>
        <main>
            <h1>Systeme de gesstion d'inventaire</h1>
            <span class="count">nombre de produits <%=  count; %></span>
        </main>  
    </div>
</body>
</html>