<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" >
    <title>Document</title>
</head>
<body>
    <%- include('layout/header') -%>
    <div class="container">
        <%- include('layout/nav'); -%>
        <main class="newProduit">
            <h1>Recevoir des stocks</h1>
            <% if(errors != null && errors.length > 0){ %>
                <ul class="errors">
                <% for (var i = 0; i < errors.length; i++) { %>
                <li class="error">
                <%= errors[i] %>
                </li>
                <% } %>
                </ul>
                <% } %>
            <form action="/produit/stock/recevoir" method="POSt" enctype="multipart/form-data"> 
                <!-- code produit -->
                <div class="formRow">
                    <label for="code">code</label>
                    <input name="code" id="code" type="text" placeholder="Entrer un code de produit..." data-sb-validations="required" />
                   <!-- <div data-sb-feedback="code:required">Un code de produit est requis.</div> -->
                </div>
                 <!-- quantite produit -->
                 <div class="formRow">
                    <label for="quantite">quantite</label>
                    <input name="quantite" id="quantite" type="text" placeholder="Entrer un quantite de produit..." data-sb-validations="required" />
                </div> 
                <input type="submit" value="recevoir stock">
            </form>
        </main>
    </div>
</body>
</html>