<header>
    <div>
        <img src="/assets/siteImg/boutique.png" alt="boutique">
    </div>
    <div>
        <h1>MegaBoutique</h1>
        <h2>Pour le plaisir du magasinage</h2>
    </div>
</header>