<nav >
    <ul>
        <li><a href="/">Acceuil</a></li>
        <li><a href="/produits">Afficher les produits</a></li>
        <li><a href="/produit/new">Creer un produit</a></li>
        <li><a href="/produit/stock">Recevoir stock</a></li>
        <li><a href="/produit/stock/envoyer">Envoyer stock</a></li>
        <li><a href="/produit/stock/retier">Retirer stock</a></li>
    </ul>
</nav>